.block {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 400px;
    max-height: 100%;
    background-color: rgb(19, 31, 59);
    border-radius: 20px;
}
/*.block__1 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}*/